---
import Layout from '../layouts/AboutLayout.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('January 04 2026')}
>
	<p>
      This blog is a personal dev log where I write about what I learn while
      building software.
    </p>
</Layout>
